@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --red: hsl(0, 100%, 68%);
  --veryDarkBlue: hsl(230, 29%, 20%);
  --darkGrayishBlue: hsl(230, 11%, 40%);
  --grayishBlue: hsl(231, 7%, 65%);
  --lightGrayishBlue: hsl(207, 33%, 95%);
  --barlowCondensed : font-family: 'Barlow Condensed', sans-serif;
  --barlow : font-family: 'Barlow', sans-serif;
}
